/* css styling for index.html */
#display-books{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('game-4.webp');
    border-radius: 20px;
    color:yellow;
}

#input-form{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('game-4.webp');
    border-radius: 10px;
    color:yellow;
}

h1{
    text-align:center;
    border-radius: 10px;
    background-image: url('game-4.webp');
    color:yellow;

}

h2{
  padding:50px;
}

h2:hover{
  background-color: gray;
  border-radius: 10px;
  margin-left: 250px;
  margin-right:250px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.comments{
  font-size: 10px;
  padding-left: 20px;
  margin-left: 20px;
}


#info-section{
  background-image: url('game-4.webp');
  color:yellow;
  border-radius: 20px;
}


html{
  scroll-behavior: smooth;
}
#about-author{
  background-image: url('game-4.webp');
  border-radius: 20px;
  color: yellow;
}
img{
  padding-right:60px;
  float:left;
}
a{
  font-weight: bolder;
  font-style: italic;
}